body {
    font:        100% Verdana, Arial, Helvetica, sans-serif;
    background:  #ccc;
    margin:      10px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    border-bottom: 1px solid #336;
}

h3.author {
    border: none;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}

div.author code.email {
    padding-left: 20px;
}

h4, h5, h6 {
    border-bottom: 1px solid #ccc;
}

hr {
    border: 1px solid #336;
}

dt {
    font-weight: bold;
}

p, li {
    font-size: 90%;
}

ol li ul li, ol li ol li, dd ul li, dd dt, dd dd {
    font-size: 100%;
}

div.refsection h2 {
    font-size: 110%;
}

table {
    border:          1px solid #666;
    border-collapse: collapse;
}

table thead {
    background: #336;
    color:      #fff;
}

table thead tr th {
    font-size:  90%;
    text-align: left;
    padding:    0 10px;
}

table tbody tr td {
    font-size:  90%;
    text-align: left;
    padding:    5px 10px 2px 10px;
}

th a:link {
    color: #aaf;
}

th a:visited {
    color: #faf;
}

div.author {
    font-size: 90%;
}

div.abstract {
    border-bottom: 1px solid #336;
}

div.book {
    margin:     auto;
    padding:    20px;
    border:     1px solid #ccc;
    background: #fff;
}

div.list-of-tables, div.list-of-examples, div.toc {
    font-size: 80%;
}

div.example {
    border:  1px solid #666;
    padding: 10px;
}

p.title {
    border-bottom: 1px solid #336;
}

code.fieldsynopsis, code.synopsis, div.programlisting,
pre.classsynopsis, pre.programlisting, pre.screen {
    background: #eee;
    padding:    10px;
}
